body {
    background-color: lavender;
}

.btn {
    cursor: pointer;
}
h1 {
    color: #2c3e50;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}